.contact-section {
	padding: 100px 330px;
	color: rgb(207, 207, 207);
	background-color: #1a1f2c;
}
.contact__form-container {
	box-shadow: rgba(130, 130, 150, 0.2) 0 7px 29px 0;
	padding: 4rem;
	margin-top: 6rem;
	max-width: 80rem;
	text-align: right;
	width: 95%;
	border-radius: 5px;
	margin: 5rem auto 0 auto;
}
.contact__form-input {
	outline: none;
	padding: 20px;
	width: 100%;
	border: 1px solid #ebebeb;
	font-size: 16px;
	letter-spacing: 0;
	background: #1a1f2c;
	border-radius: 5px;
	font-weight: 600;
	color: rgb(207, 207, 207);
}
.contact__form-label {
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 700;
	margin-bottom: 1rem;
	display: block;
	text-align: left;
}
.contact__form-field {
	margin-bottom: 2rem;
}
@media (min-width: 320px) and (max-width: 480px) {
	.contact-section {
		padding: 120px 10px 50px 10px;
	}
	.contact__form-container {
        padding: 20px;
	}
	.contact__form-input {
		padding: 12px;
		font-weight: 400;
	}
}
