@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
html {
	scroll-behavior: smooth;
}
ul {
	list-style-type: none;
}
a {
    text-decoration: none;
	color: #f1f1f1;
}
section:nth-child(1) {
    padding: 0 10px;
}
:root {
	--home-icon: #f92418;
	--about-icon: #9d7463;
	--edu-icon: #ff652f;
	--pro-icon: #0074D9;
	--contact-icon: #2ECC40;
}