.home-section {
	z-index: 1;
	background-image: linear-gradient(135deg, #141e30, #8BC6EC);
	animation: gradient 15s ease-in-out infinite;
	background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.home_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	color: #f1f1f1;
	animation: animate 1s;
}

@keyframes animate {
	from{
		transform: rotateX(90deg);
	}
	to {
		transform: rotateX(0deg);
	}
}
.home_text {
	text-align: center;
	font-size: 45px;
	font-weight: 400;
	user-select: none;
	/* background: rgba(0, 0, 0, 0.5); */
	border-radius: 30px;
	padding: 50px;
}
.fullName {
	color: var(--main-color);
	font-size: 45px;
	font-weight: 500;
}
.btn-more {
	margin-top: 50px;
	outline: none;
	cursor: pointer;
	border: 2px solid var(--main-color);
	text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    transition: .3s;
    color: whitesmoke;
	padding: 1.2rem 5rem;
    font-size: 18px;
}
.btn-more:hover {
	color: #f1f1f1;
	background: var(--main-color);
}
.btn-more:not(:hover) {
	transition: 0.5s ease-in-out;
}
a {
	text-decoration: none;
	color: #f1f1f1;
}

@media (min-width: 320px) and (max-width: 480px){
	.home_text {
		font-size: 25px;
	}
	.fullName {
		font-size: 25px;
	}
	.btn-more {
		font-size: 13px;
		padding: 16px;
	}
}