.home-section {
	width: 100%;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(../images/back.jpeg);
}
.home_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	color: #f1f1f1;
	animation: animate 2s;
}

@keyframes animate {
	from {
		transform: scale(0.3);
	}
	to {
		transform: scale(1);
	}
}
.home_text {
	text-align: center;
	font-size: 45px;
	font-weight: 400;
	user-select: none;
	/* background: rgba(0, 0, 0, 0.5); */
	border-radius: 30px;
	padding: 50px;
}
.fullName {
	color: var(--main-color);
	font-size: 45px;
	font-weight: 500;
}
.btn-more {
	margin-top: 50px;
	outline: none;
	cursor: pointer;
	border: 2px solid var(--main-color);
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	font-weight: 700;
	border-radius: 5px;
	box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
	transition: 0.3s;
	color: whitesmoke;
	padding: 1.2rem 5rem;
	font-size: 18px;
}
.btn-more:hover {
	color: #f1f1f1;
	background: var(--main-color);
}
.btn-more:not(:hover) {
	transition: 0.5s ease-in-out;
}
a {
	text-decoration: none;
	color: #f1f1f1;
}

@media (min-width: 320px) and (max-width: 480px) {
	.home_text {
		font-size: 25px;
	}
	.fullName {
		font-size: 25px;
	}
	.btn-more {
		margin-top: 20px;
		font-size: 10px;
		padding: 10px;
	}
}
