#navbar {
	overflow: hidden;
	gap: 50px;
	text-transform: uppercase;
	overflow: hidden;
}

#navbar a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 35px 20px;
	text-decoration: none;
	font-size: 20px;
}

#navbar a:hover {
	transform: scale(1.5);
	transition: 0.3s ease-in-out;
}
#navbar a:not(:hover) {
	transition: 0.5s ease-in-out;
}
#navbar a i:not(:hover) {
	transition: 0.5s ease-in-out;
}
.home i:hover {
	color: red;
	transition: 0.3s ease-in-out;
}
.content {
	padding: 16px;
}

.sticky {
	display: flex;
	position: fixed;
	bottom: 0;
	left: 50%;
    transform: translate(-50%, 0);
}

.sticky + .content {
	padding-top: 60px;
}