#navbar {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 80px;
	text-transform: uppercase;
	overflow: hidden;
	background-color: rgb(103, 103, 103);
}

#navbar a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

#navbar a:hover {
	background-color: #ddd;
	color: black;
}

#navbar a.active {
	color: aqua;
	transition: 0.3s;
}
.content {
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 60px;
}