.topnav {
	display: flex;
	gap: 60px;
	justify-content: center;
	background-color:rgb(255, 255, 255);
}
.topnav a {
	float: left;
	display: block;
	color: #000000;
	text-align: center;
	padding: 25px 35px;
	text-decoration: none;
	font-size: 22px;
}
.topnav .icon {
	display: none;
}
.topnav a:after {
	padding: 2px;
	display: block;
	content: "";
	border-bottom: solid 2px #019fb6;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}
.topnav a:hover:after {
	transform: scaleX(1);
}
.topnav .active:after {
	transform: scale(1);
}
.topnav.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.sticky + .about-section {
	padding-top: 180px;
}
@media (min-width: 320px) and (max-width: 480px) {
	.topnav {
		display:inline;
		overflow: hidden;
	}
	.topnav a {
		font-size: 15px;
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}
